/.buildpath
/.project
/.settings
/app/node_modules
/app/phpunit.xml
/app/var/*
!/var/cache
/var/cache/*
!/var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!/var/sessions/.gitkeep
!/var/SymfonyRequirements.php
/app/vendor/
/app/public/bundles/
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/.php_cs
/app/.php_cs.cache
/app/.phpunit
/app/.phpunit.result.cache
/app/public/build/
/app/npm-debug.log
/app/yarn-error.log

