
.table > tbody > tr > td {
     vertical-align: middle;
}

hr, h1, h2, h3, h4, h5 {
    // We are not doing typo, we are doing a business app
    margin-top: @padding-base-vertical;
    margin-bottom: @padding-base-vertical;
}

.btn-link-warning {
    color: darken(@brand-warning, 10%);
    &:hover, &:focus {
        color: darken(@brand-warning, 20%);
    }
}

.btn-link-danger {
    color: darken(@brand-danger, 10%);
    &:hover, &:focus {
        color: darken(@brand-danger, 20%);
    }
}

.btn-link-success {
    color: darken(@brand-success, 10%);
    &:hover, &:focus {
        color: darken(@brand-success, 20%);
    }
}

