{% extends 'base.html.twig' %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}

{% block backto %}
    <a class="navbar-brand" href="{{ path('app_tasks') }}" title="{{ "Back to home"|trans }}">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="sr-only">{{ "Back to home"|trans }}</span>
    </a>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}
