{% extends 'base.html.twig' %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
