{% extends 'base.html.twig' %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}

{% block backto %}
    <a class="navbar-brand" href="{{ path('app_task_view', {id: taskId}) }}" title="{{ "Back to task"|trans }}">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span class="sr-only">{{ "Back to task"|trans }}</span>
    </a>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}
