{% for note in notes %}
    <div class="media">
        <div class="media-left">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </div>
        <div class="media-body">
            <a href="{{ path('app_note_view', {task: task.id, note: note.id}) }}">
                <span class="text-muted"><small>{{ note.addedAt|localizeddate('full', 'short') }}</small></span>
            </a>
            <br/>
            {{ note.description|markdown }}
        </div>
    </div>
    <hr/>
{% endfor %}