{% for alarm in alarms %}
    <div class="media">
        <div class="media-left">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
        </div>
        <div class="media-body">
            <span class="text-muted"><small>{{ alarm.triggersAt|localizeddate('full', 'short') }}</small></span>
        </div>
    </div>
    <hr/>
{% endfor %}